<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	     xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" 
		 version="3.0">
	
	<display-name>Utilizando paquetes</display-name>
	<description>se utiliza el paquete org</description>
	
	<servlet>
		<servlet-name>ElSaludo</servlet-name>
		<servlet-class>org.Saludo</servlet-class>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>ElSaludo</servlet-name>
		<url-pattern>/saludar.html</url-pattern>
	</servlet-mapping>
	
</web-app>